@page "/ListadoTruequesDisponibles"
@using YateMate.Aplicacion.UseCases.Oferta
@inject ListarTruequesDisponiblesUseCase ListarTruequesDisponiblesUseCase
@inject NavigationManager Navegador;

<h3>Trueques disponibles</h3>

<div style="overflow-x:@(!_tieneElementos ? "hidden" : "scroll");">
    

    <table id="table" class="table">
        <thead>
        <tr>
            <th>IMAGEN</th>
            <th>TITULO</th>
            <th>DESCRIPCION</th>
            <th>ID</th>
            <th>ID EMBARCACION</th>
        </tr>
        </thead>
        <tbody>
        @if (!_tieneElementos) {
        <p>No hay trueques disponibles en este momento.</p>
        } else {
        @foreach (var publicacion in _lista)
        {
            <tr>
                <td>@publicacion.Image</td>
                <td>@publicacion.Titulo</td>
                <td>@publicacion.Descripcion</td>
                <td>@publicacion.Id</td>
                <td>@publicacion.EmbarcacionId</td>
            </tr>
        }
        }
        </tbody>
    </table>


</div>


@code {
    
    List<Publicacion> _lista = new List<Publicacion>();
    bool _tieneElementos;
    
    protected override void OnInitialized()
    {
        _lista = ListarTruequesDisponiblesUseCase.Ejecutar();
    }
    protected override void OnParametersSet()
    {
        if(_lista.Count > 0) 
        {
            _tieneElementos = true;
            
        }
    }
}