@using YateMate.Aplicacion.UseCases.Embarcaciones
@using YateMate.Aplicacion.UseCases.Publicaciones
@inject NavigationManager Navegador;
@inject EliminarPublicacionUseCase EliminarPublicacion
@inject NavigationManager NavigationManager
@inject ObtenerEmbarcacionUseCase ObtenerEmbarcacion

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6" Style="display: flex; justify-content: center; width: 100%;">
            Viendo datos
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudCard Style="box-shadow: none">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h4">@Publicacion.Titulo</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent Style="font-size: large">
                <MudText >@Publicacion.Descripcion</MudText>

                <MudSimpleTable>
                    <thead>
                    <tr>
                        
                    <th>Calado(m)</th>
                    <th>Eslora(m)</th>
                    <th>Manga(m)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        
                    <th>@(Original.Calado)</th>
                    <th>@(Original.Eslora)</th>
                    <th>@(Original.Manga)</th>
                    </tr>
                    </tbody>
                </MudSimpleTable>
                <MudText>Bandera: @Original.Bandera</MudText>

                <MudImage Fluid="true" Src="@Publicacion.Image" Alt="Imagen de la publicación" Style="max-height: 300px;"/>
            </MudCardContent>
        </MudCard>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" Style="margin-left: auto">Cerrar</MudButton>
        <div style="flex-grow: 1;"></div>
        @if (Duenio)
        {
            <MudButton Variant="Variant.Filled"
                       Href=""
                       StartIcon="@Icons.Material.Filled.Delete"
                       OnClick="EliminarHandler"
                       Color="Color.Error"
                       Size="Size.Small">Eliminar
            </MudButton>
            <MudButton Variant="Variant.Filled"
                       Href=""
                       StartIcon="@Icons.Material.Filled.Edit"
                       OnClick="@((e) => NavigationManager.NavigateTo("/publicar/"+Publicacion.EmbarcacionId))"
                       Color="Color.Primary"
                       Size="Size.Small">Editar
            </MudButton>
        }
    </DialogActions>
</MudDialog>

@code {
    [Parameter] public Publicacion Publicacion { get; set; } = null!;
    [Parameter] public bool Duenio { get; set; }=false;

    [CascadingParameter] MudDialogInstance? MudDialog { get; set; }
    Embarcacion Original { get; set; } = null!;
    protected override void OnInitialized()
    {
        Original = ObtenerEmbarcacion.Ejecutar(Publicacion.EmbarcacionId);
    }

    void Submit() => MudDialog!.Close(DialogResult.Ok(true));
    void Cancel() => MudDialog!.Cancel();
    void Editar(int id)
    {
        Submit();
        NavigationManager.NavigateTo($"publicacion/{id}");

    }

    public void EliminarHandler(object e)
    {
        EliminarPublicacion.Ejecutar(Publicacion);
        Navegador.NavigateTo("/mis_publicaciones", true);

    }

}

