@using YateMate.Aplicacion.UseCases.Embarcaciones
@using YateMate.Components.Pages

@inject NavigationManager NavigationManager
@inject ObtenerEmbarcacionUseCase ObtenerEmbarcacion
<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6" Style="display: flex; justify-content: center; width: 100%;">
            Viendo datos
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h4">@Publicacion.Titulo</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText Typo="Typo.h5"  GutterBottom="true">Descripción</MudText>
                <MudText>@Publicacion.Descripcion</MudText>

                <MudText Typo="Typo.h5" GutterBottom="true">Calado</MudText>
                <MudText>@(Original.Calado)m</MudText>

                <MudText Typo="Typo.h5" GutterBottom="true">Eslora</MudText>
                <MudText>@(Original.Eslora)m</MudText>

                <MudText Typo="Typo.h5" GutterBottom="true">Bandera</MudText> 
                <MudText>@Original.Bandera</MudText>

                <MudImage Fluid="true" Src="@Publicacion.Image" Alt="Imagen de la publicación" Style="max-height: 300px;"/>
            </MudCardContent>
        </MudCard>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" Style="margin-left: auto">Cerrar</MudButton>
        <div style="flex-grow: 1;"></div>
        @*<MudButton Variant="Variant.Filled" Href=""StartIcon="@Icons.Material.Filled.Edit" OnClick="@((e) => Editar(Bien!.Id))" Color="Color.Info" Size="Size.Small">Editar</MudButton>*@
    </DialogActions>
</MudDialog>

@code {
    [Parameter] public Publicacion Publicacion { get; set; } = null!;
    [CascadingParameter] MudDialogInstance? MudDialog { get; set; }
    Embarcacion Original { get; set; } = null!;
    protected override void OnInitialized()
    {
        Original = ObtenerEmbarcacion.Ejecutar(Publicacion.EmbarcacionId);
    }

    void Submit() => MudDialog!.Close(DialogResult.Ok(true));
    void Cancel() => MudDialog!.Cancel();
    void Editar(int id)
    {
        Submit();
        NavigationManager.NavigateTo($"publicacion/{id}");

    }

}