@page "/bien/{Id:int?}"

@using System.ComponentModel.DataAnnotations
@using YateMate.Aplicacion.UseCases.Bien

@inject ObtenerBienUseCase ObtenerBienUseCase
@inject ModificarBienUseCase ModificarBienUseCase
@inject AgregarBienUseCase AgregarBienUseCase
@inject NavigationManager Navegador;

@rendermode InteractiveServer

@if (_err.Length > 1)
{
    <h3>@_err</h3>
}
@if (_esNuevoBien)
{
    <h1>Agregando un nuevo bien</h1>
}
else
{
    <h1>Modificando al bien con nombre "@bien.Nombre"</h1>
}


<EditForm OnValidSubmit="Aceptar" Model="Input" Enhance>
    <DataAnnotationsValidator/>

    <MudCard>
        <MudCardContent>
            <MudTextField HelperText="Nombre del bien"
                          @bind-Value="Input.Nombre" For="@(() => Input.Nombre)" Required="true"/>
            <MudTextField T="string" HelperText="Descripcion del bien" Variant="Variant.Text" 
                          Text="@Input.Descripcion" @bind-Value="Input.Descripcion" AutoGrow Lines="4"
                          For="@(()=>Input.Descripcion)"/>
            <br/>
            @if (@Input.Imagen != "")
            {
                <MudImage src="@Input.Imagen" Height="400" Style="object-fit: contain;"></MudImage>
            }
            <MudFileUpload T="IBrowserFile" FilesChanged="UploadFiles" Context="EditButtonContext" Accept="image/jpeg, image/jpg, image/png, image/webp"
            >
                <ButtonTemplate >
                    <MudButton HtmlTag="label"
                               Variant="Variant.Filled"
                               Color="Color.Primary"
                               StartIcon="@Icons.Material.Filled.CloudUpload"
                               for="@EditButtonContext.Id">
                        Subir imagen
                    </MudButton>
                </ButtonTemplate>
            </MudFileUpload>
            <MudTextField hidden="true" For="@(() => Input.Imagen)"></MudTextField>
        </MudCardContent>
        <MudCardActions>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Publicar</MudButton>
        </MudCardActions>
    </MudCard>
</EditForm>


@code {
    
    [CascadingParameter]
    private Task<AuthenticationState>? _AuthenticationState { get; set; }

    private string? _userId;    
    
    protected override async Task OnInitializedAsync()
    {
        if (_AuthenticationState is not null)
        {
            var authState = await _AuthenticationState;
            var user = authState.User;
            
            _userId = user.Claims.FirstOrDefault()?.Value;
        }
        else
        {
            Console.WriteLine("Authstate es null, no se que decirte");
        }
    }

    private async Task UploadFiles(IBrowserFile file)
    {
        var buffer = new byte[file.Size];
        var reader = file.OpenReadStream(long.MaxValue);
        await reader.ReadExactlyAsync(buffer);
        var imagesrc = Convert.ToBase64String(buffer);
        reader.Close();
        Input.Imagen = $"data:{file.ContentType};base64,{imagesrc}";
    }
    
    bool _esNuevoBien = true;
    InputModel Input = new ();
    Bien bien = new Bien("","","","");
    string _err = "";
    
    
    [Parameter] public int? Id { get; set; }
    protected override void OnParametersSet()
    {
        if (Id != null)
        {
            var bienHallado = ObtenerBienUseCase.Ejecutar(Id.Value);
            if (bienHallado != null)
            {
                bien = bienHallado;
                _esNuevoBien = false;
                Input.Imagen = bien.Imagen;
                Input.Nombre = bien.Nombre;
                Input.Descripcion = bien.Descripcion;
            }
        }
    }
    
    void Aceptar()
    {
        bien.UsuarioId = _userId!;
        bien.Nombre = Input.Nombre;
        bien.Imagen = Input.Imagen;
        bien.Descripcion = Input.Descripcion;
        if(_userId is null)
            Console.WriteLine("user id es null, no se q decirte");
        if (_esNuevoBien)
        {
                
            AgregarBienUseCase.Ejecutar(bien);
        }
        else
        {
            ModificarBienUseCase.Ejecutar(bien);
        }
        Navegador.NavigateTo("/ListarMisBienes/lista");
            
    }

    private sealed class InputModel
    {
        [Required(ErrorMessage = "Cargar una imagen es obligatorio")]
        public string Imagen { get; set; } = null!;
        
        [Required(ErrorMessage = "El nombre es obligatorio")]
        [ MaxLength(50) ]
        public string Nombre { get; set; } = null!;
        
        [Required(ErrorMessage = "La descripción es obligatoria")]
        public string Descripcion { get; set; } = null!;
    }
    

}