@page "/ListarMisBienes"
@rendermode InteractiveServer

@using Microsoft.Extensions.Options
@using YateMate.Aplicacion.UseCases.Bien
@using YateMate.Components.Account
@using YateMate.Components.Account.Shared
@using MudBlazor.Components
@* @inject IdentityUserAccessor UserAccessor; *@
@inject ListarBienesDeUseCase ListarBienesDeUseCase
@inject EliminarBienUseCase EliminarBienUseCase
@inject NavigationManager Navegador;
@inject IDialogService Dialog

<MudDialogProvider  FullWidth="true"
                    MaxWidth="MaxWidth.Small"
                    Position="DialogPosition.CenterLeft"/>


<h3>Mis bienes</h3>

@if (!_tieneElementos) 
{
    <p>No tiene bienes cargados en el sistema.</p>
    
}
else
{
    //https://stackoverflow.com/questions/71209726/same-size-for-all-muditem-using-mudblazor
    //otro poco lo tunee yo (Claude) 
    
    <MudPaper Width="100%" Class="darkbackground" MinHeight="350" Style="border: none; box-shadow: none;"> @*esto es para sacarle las lineas de afuera*@
        <MudContainer>
            <MudGrid>
                @foreach (var bien in _lista)
                {
                    <MudItem xs="4" Style="display:flex;">
                        <MudPaper Width="100%" Square="false" Class="pa-10 ma-2 infobox" Style="border: none; box-shadow: none;">
                            <MudCard>
                                <MudCardMedia Image=@bien.Imagen Height="200" Style="object-fit: contain;" />
                                <MudCardContent Style="min-height: 100px">
                                    <MudText Typo="Typo.h5" Style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@bien.Nombre</MudText> @*esto es para que si hay mucho texto ponga 3 puntos *@
                                    <MudText Typo="Typo.body2" Style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">@bien.Descripcion</MudText>
                                </MudCardContent>
                                <MudCardActions Style="justify-content: space-between;">
                                    <MudButton Variant="Variant.Text" @onclick="@((e) => OpenDialog(bien))" Color="Color.Primary">Ver más</MudButton> @*Aca hay que crear un evento que rediriga/abra una ventana en la que podamos modificar/eliminar el bien y eso*@
                                    @* <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Edit" Color="Color.Info"  Size="Size.Small">Editar</MudButton> *@
                                    <MudButton Variant="Variant.Text" OnClick="() => Eliminar(bien)" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error"> Borrar </MudButton>
                                    </MudCardActions>
                            </MudCard>
                        </MudPaper>
                    </MudItem>
                }
            </MudGrid>
        </MudContainer>
    </MudPaper>
    
}

<br/>
<button type="button" class="btn btn-primary" @onclick="@(() => Navegador.NavigateTo("bien/"))">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"></path>
    </svg>
    Agregar Bien
</button>

@code {
    
    
    DialogoConfirmacion dialogo = null!;
    bool _tieneElementos;
    List<Bien> _lista = new();
    Bien? _BienParaEliminar;
    
    [CascadingParameter]
    private Task<AuthenticationState>? _AuthenticationState { get; set; }
    private string? _userId;    
    
    protected override async Task OnInitializedAsync()
    {
        if (_AuthenticationState is not null)
        {
            var authState = await _AuthenticationState;
            var user = authState.User;
            
            _userId = user.Claims.FirstOrDefault()?.Value;
        }
        else
        {
            Console.WriteLine("Authstate es null, no se que decirte");
        }

        _lista = ListarBienesDeUseCase.Ejecutar(_userId);
    }
    
    
    protected override void OnParametersSet()
    {
        if(_lista.Count > 0) 
        {
            _tieneElementos = true;
        }
    }
    
    void ModificarBien(Bien bien)
    {
        Navegador.NavigateTo($"bien/{bien.Id}");
    }
    
    private void Eliminar(Bien bien)
    {
        _BienParaEliminar = bien;
        EliminarBienUseCase.Ejecutar(_BienParaEliminar.Id);
        _lista = ListarBienesDeUseCase.Ejecutar(_userId);
        if (_lista.Count == 0)
            _tieneElementos = false;
    }
    
    private void OpenDialog(Bien Bien)
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var parameters = new DialogParameters<VerDatos>();
        parameters.Add(x => x.Bien, Bien);
        Dialog.Show<VerDatos>("Ver Datos", parameters);
    }
}
