@page "/ListadoTruequesDisponibles"
@using YateMate.Aplicacion.UseCases.Oferta
@inject ListarTruequesDisponiblesUseCase ListarTruequesDisponiblesUseCase
@inject NavigationManager Navegador;
@inject FiltrarPublicacionesPorEsloraUseCase FiltrarPorEslora
@inject FiltrarPublicacionesPorCaladoUseCase FiltrarPorCalado
@inject IDialogService Dialog
@using YateMate.Components.Shared
@rendermode InteractiveServer

<h1>Trueques disponibles</h1>
<title>Trueques disponibles</title>
<MudDialogProvider></MudDialogProvider>

<div style="overflow-x:@(!_tieneElementos ? "hidden" : "inherit")">
    
        @if (!_tieneElementos) {
        <h4>No hay trueques disponibles en este momento.</h4>
        }
        else {
            <MudGrid>
                <MudItem sm="12" md="6">
                    <h5>Filtrar por eslora</h5>
                    <MudRadioGroup @bind-Value="@OpcionEslora">
                        <MudRadio Value="@("0 - 5")"> &lt;5m </MudRadio>
                        <MudRadio Value="@("5 -10 ")"> &gt;5m - &lt;10m</MudRadio>
                        <MudRadio Value="@("10 - 15")"> &gt;10m - &lt;15m</MudRadio>
                        <MudRadio Value="@("15 -" + int.MaxValue)"> &gt;15m</MudRadio>
                    </MudRadioGroup>
                </MudItem>
                <MudItem sm="12" md="6">
                    <h5>Filtrar por calado</h5>
                    <MudRadioGroup @bind-Value="@OpcionCalado">
                        <MudRadio Value="@("0 - 5")"> &lt;5m </MudRadio>
                        <MudRadio Value="@("5 -10 ")"> &gt;5m - &lt;10m</MudRadio>
                        <MudRadio Value="@("10 - 15")"> &gt;10m - &lt;15m</MudRadio>
                        <MudRadio Value="@("15 -" +int.MaxValue)"> &gt;15m</MudRadio>
                    </MudRadioGroup>
                </MudItem>
                <MudItem sm="12" md="6">
                    <MudButton Variant="Variant.Filled" DisableElevation="true" Color="Color.Primary" OnClick="HandleClick">Aplicar filtros</MudButton>
                    <MudButton Variant="Variant.Outlined" DisableElevation="true" Color="Color.Primary" OnClick="HandleClickBorrar">Borrar filtros</MudButton>
                </MudItem>
            </MudGrid>
            if (_mostrar.Count == 0)
            {
                <h4>No hay embarcaciones que cumplan con los requisitos</h4>
            }
        <MudGrid Style="width: 70%">
            @foreach (var publicacion in _mostrar)
            {
                    <MudItem xs="10" sm="5" >
                        <MudCardMedia Image="@publicacion.Image" Width="250" Height="300"  />                        
                        <MudCardContent>
                            <MudText Typo="Typo.h5">@publicacion.Titulo</MudText>
                            <MudText Typo="Typo.body2">@publicacion.Descripcion</MudText>
                        </MudCardContent>
                        @*<MudCardActions Class="justify-space-between ">*@
                            @* <MudButton Variant="Variant.Text" Color="Color.Primary"> ❤️</MudButton> *@
                            @* <MudButton Variant="Variant.Text" Color="Color.Primary">Enviar mensaje</MudButton> *@
                            @* </MudCardActions> *@
                        <MudButton Variant="Variant.Text" @onclick="()=>HandleClick(new Publicacion(publicacion.Image, publicacion.Titulo, publicacion.Descripcion,publicacion.EmbarcacionId))" Color="Color.Primary">Ver más</MudButton>

                    </MudItem>
                
            }
        </MudGrid>
        }

</div>


@code {
    public string OpcionEslora { get; set; } = "";
    public string OpcionCalado { get; set; } = "";
    List<Publicacion> _lista = new List<Publicacion>();
    List<Publicacion> _mostrar = new List<Publicacion>();

    bool _tieneElementos;
    
    protected override void OnInitialized()
    {
        _lista = ListarTruequesDisponiblesUseCase.Ejecutar();
        _mostrar = _lista;
    }
    protected override void OnParametersSet()
    {
        if(_lista.Count > 0) 
        {
            _tieneElementos = true;
            
        }
    }

    protected void HandleClick()
    {
        _mostrar = _lista;
        if (OpcionEslora != "")
        {
            var options = OpcionEslora.Split('-');
            _mostrar = FiltrarPorEslora.Ejecutar(_lista, int.Parse(options[0]), int.Parse(options[1]));
        }

        if (OpcionCalado !="")
        {
            var options = OpcionCalado.Split('-');
            _mostrar = FiltrarPorCalado.Ejecutar(_mostrar, int.Parse(options[0]), int.Parse(options[1])); 
        }
    }
    protected void HandleClickBorrar()
    {
        OpcionEslora = "";
        OpcionCalado = "";
        _mostrar = _lista;
    }
    
    public void HandleClick(Publicacion publicacion)
    {
        var parameters = new DialogParameters<VerDatosEmbarcacion>();
        parameters.Add( x=>x.Publicacion, publicacion);
        Dialog.Show<VerDatosEmbarcacion>("Simple Dialog", parameters);
    }
}