@page "/publicar/{Id:int}"
@using System.ComponentModel.DataAnnotations
@using YateMate.Aplicacion.UseCases.Publicaciones
@inject ObtenerPublicacionUseCase ObtenerPublicacion
@inject ModificarPublicacionUseCase ModificarPublicacion
@rendermode InteractiveServer
@inject PublicarEmbarcacionUseCase PublicarEmbarcacion
@inject NavigationManager Navegador;

<h1>Publicando una embarcacion</h1>
<title>Publicando una embarcacion</title>
<EditForm OnValidSubmit="OnValidSubmit"  Model="Model" Enhance>
<DataAnnotationsValidator/>
    <MudCard>
        <MudCardContent>
            <MudTextField HelperText="Titulo de la Publicacion"
                          @bind-Value="Model.Titulo"
                          For="@(() => Model.Titulo)" 
                          />
            <MudTextField T="string"
                          HelperText="Descripcion de la Embarcacion"
                          Variant="Variant.Text" Text="@Model.Descripcion"
                          @bind-Value="Model.Descripcion"
                          For="@(()=>Model.Descripcion)"
                          AutoGrow Lines="4" />
            @if (@Model.Image != "")
            {
                <MudImage src="@Model.Image" Style="max-height: 500px"></MudImage>
            }
            <MudFileUpload T="IBrowserFile"
                           FilesChanged="UploadFiles"
                           Context="EditButtonContext"
                           Required="true"
                           For="@(() => Model.FileVaciaWarning)"
                           Accept="image/jpeg, image/jpg, image/png, image/webp">
                <ButtonTemplate >
                    <MudButton HtmlTag="label"
                               Variant="Variant.Filled"
                               Color="Color.Primary"
                               StartIcon="@Icons.Material.Filled.CloudUpload"
                               for="@EditButtonContext.Id">
                        Subir imagen
                    </MudButton>
                </ButtonTemplate>
            </MudFileUpload>
        </MudCardContent>
        <MudCardActions>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Publicar</MudButton>
        </MudCardActions>
    </MudCard>
</EditForm>

@code
{
    [Parameter] public int Id { get; set; }
    [SupplyParameterFromForm]
    public PublicacionForm Model { get; set; }= new ();
    public Publicacion ModelSubir { get; set; }= new ("", "","", 0);
    Publicacion? _publicacion = null;

    protected override void OnInitialized()
    {
        _publicacion = ObtenerPublicacion.Ejecutar(Id);
        if (_publicacion != null)
        {
            Model.Titulo = _publicacion.Titulo;
            Model.Descripcion = _publicacion.Descripcion;
            Model.Image = _publicacion.Image;
            Model.FileVaciaWarning = new BrowserDouble();
        }
    }

    private async Task UploadFiles(IBrowserFile file)
    {
            var buffer = new byte[file.Size];
            var reader = file.OpenReadStream(long.MaxValue);
            await reader.ReadExactlyAsync(buffer);
            var imagesrc = Convert.ToBase64String(buffer);
            reader.Close();
            Model.Image = $"data:{file.ContentType};base64,{imagesrc}";
            Model.FileVaciaWarning = file;
    }
    
    public void OnValidSubmit()
    {
        ModelSubir.EmbarcacionId = Id;
        ModelSubir.Titulo = Model.Titulo;
        ModelSubir.Descripcion = Model.Descripcion;
        ModelSubir.Image = Model.Image;
        if (_publicacion == null)
        {
            PublicarEmbarcacion.Ejecutar(ModelSubir);       
            Navegador.NavigateTo("embarcaciones");
        }
        else
        {
            ModelSubir.Id = _publicacion.Id;
            Navegador.NavigateTo("mis_publicaciones", true);
            ModificarPublicacion.Ejecutar(ModelSubir);
        }
    }

    public class PublicacionForm
    {
        public string Image { get; set; } = null!;
        
        [Required(ErrorMessage = "El Titulo es obligatorio")]
        [ MaxLength(50) ]
        public string Titulo { get; set; } = null!;
        
        [Required(ErrorMessage = "La descripcion es obligatoria")]
        public string Descripcion { get; set; } = null!;

        //agrego este solo para poder hacer el warning
        [Required(ErrorMessage = "Cargar una imagen es obligatorio")]
        public IBrowserFile FileVaciaWarning { get; set; } = null!; 
    }

    public class BrowserDouble : IBrowserFile
    {
        public Stream OpenReadStream(long maxAllowedSize = 512000, CancellationToken cancellationToken = new CancellationToken())
        {
            throw new NotImplementedException();
        }

        public string Name { get; }
        public DateTimeOffset LastModified { get; }
        public long Size { get; }
        public string ContentType { get; }
    }
}
