@using Microsoft.AspNetCore.Authorization

@page "/chat/{ContactId}"
@page "/chat"
@attribute [Authorize(Roles = "Cliente")]
@rendermode InteractiveServer


<div class="d-flex flex-grow-1 flex-row">
    
        <MudPaper Elevation="25" Class="py-4 flex-grow-1" >
            <MudToolBar Dense="true">
                @if (string.IsNullOrEmpty(ContactId))
                {
                    <MudIcon Icon="@Icons.Material.Outlined.Person" Style="margin-right:10px"></MudIcon>
                    <MudText Typo="Typo.h6">Chat</MudText>
                }
                else
                {
                    <MudIcon Icon="@Icons.Material.Outlined.ChatBubble" Style="margin-right:10px"></MudIcon>
                    <MudText Typo="Typo.h6">Estás hablando con @Contacto.Nombre</MudText>
                }
            </MudToolBar>
            <div class="d-flex flex-column px-4" style="max-height:65vh;min-height:65vh; overflow:auto;" id="chatContainer">
                @foreach (var message in messages)
                {
                    <div class="d-flex flex-row my-4">
                        <div class="mr-4">
                            <MudAvatar Color="Color.Secondary" Style="height:50px; width:50px;">@message.FromUser.Email!.ToUpper().FirstOrDefault()</MudAvatar>
                        </div>
                        <div>
                            <MudText Typo="Typo.body1">@message.FromUser.Nombre</MudText>
                            <MudText Typo="Typo.caption" Style="">@message.CreatedDate.ToString("dd MMM, yyyy hh:mm tt")</MudText>
                            @if (message.IsImage)
                            {
                                <MudImage src="@message.Message" Style="max-height: 500px"></MudImage>
                            }
                            else
                            {
                                <MudText Typo="Typo.body2" Style=" padding: 15px;;border-radius: 5px;margin-top:5px">@message.Message</MudText>
                            }
            
                        </div>
                    </div>
                }
            </div>
            @if (!string.IsNullOrEmpty(ContactId))
            {
            
                <MudPaper Elevation="25" Class="d-flex flex-row px-2 mx-4" Style="max-width: 90%">
                    <MudFileUpload T="IBrowserFile"
                                   FilesChanged="saveImage"
                                   Context="EditButtonContext"
                                   Required="false"
                                   Accept="image/jpeg, image/jpg, image/png, image/webp">
                        <ButtonTemplate >
                            <MudButton HtmlTag="label"
                                       Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       StartIcon="@Icons.Material.Filled.Image"
                                       for="@EditButtonContext.Id">
                                @* Subir imagen *@
                            </MudButton>
                        </ButtonTemplate>
                    </MudFileUpload>
            
                    <MudTextField T="string" Placeholder="Ingresa un mensaje..."
                                  DisableUnderLine="true"
                                  Class="mt-n2 mx-4"
                                  @bind-Value="CurrentMessage"
                                  For="@(() => CurrentMessage)"
                                  TextUpdateSuppression="false"
                                  OnKeyDown="Enter"
                                  Immediate="true"
                                  Disabled="@(!string.IsNullOrEmpty(img))" />
            
            
                    <MudButton OnClick="SubmitAsync" StartIcon="@Icons.Material.Outlined.Send" Color="Color.Secondary" ButtonType="ButtonType.Button">Enviar</MudButton>
            
                </MudPaper>
            }
            else
            {
            
                <div class="d-flex justify-center">
                    <MudText Typo="Typo.body1">Selecciona a uno de tus contactos o inicia una conversación desde el menú de publicaciones </MudText>
                </div>
            }
            @if (_isImgTooBig)
            {
                <br/>
                <MudText Color="@Color.Error" Class="mt-n2 mx-4">La imagen seleccionada tiene que ser menor a 10 MB.</MudText>
            }
        </MudPaper>
    
    <MudPaper Elevation="25" Class="pa-3 ml-6">
        <MudToolBar Dense="true">
            <MudText Typo="Typo.h6">Contactos</MudText> @*centrar*@
        </MudToolBar>
        <div class="d-flex flex-column px-4" style="max-height:70vh;min-height:70vh; overflow:auto;">
            @if (ChatUsers.Count == 0)
            {
                <p> Listado vacio</p>
            }
            <MudList Clickable="true">
                @foreach (var user in ChatUsers)
                {
                    <MudListItem Class="pa-0 px-2" OnClick="@(() => LoadUserChat(user.Id))">
                        <div class="d-flex flex-row mt-n1 mb-n1">
                            <div class="mr-4">
                                <MudBadge Class="my-2">
                                    @if (user.Id == ContactId)
                                    {
                                        <MudAvatar Color="Color.Secondary" Style="height:50px; width:50px;">
                                            @user.Email.ToUpper().FirstOrDefault()
                                        </MudAvatar>
                                    }
                                    else
                                    {
                                        <MudAvatar Color="Color.Dark" Style="height:50px; width:50px;">@user.Email.ToUpper().FirstOrDefault()</MudAvatar>
                                    }
                                </MudBadge>
                            </div>
                            <div>
                                <MudText Typo="Typo.body2" Class="mt-3 mb-n2">@user.Nombre</MudText>
                                <MudText Typo="Typo.caption" Style="font-size: xx-small!important;">@user.Email</MudText>
                            </div>
                        </div>
                    </MudListItem>
                }
            </MudList>
        </div>
    </MudPaper>


</div>