@using System.Runtime.CompilerServices
@implements IDisposable

@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<AuthorizeView >
    <Authorized>
        <MudContainer Style="position: fixed;height: 100%" Class="pa-4">
            <MudDrawer @bind-Open="_drawerOpen"  Style="font-size: large; box-shadow: none" Width="320px">
                <MudDrawerHeader>
                    <MudImage Src="Pictures/favicon.png" Width="50" Class="rounded-pill "/>
                    <MudText Typo="Typo.h5" Class="m-auto" Color="Color.Secondary">YateMate</MudText>
                </MudDrawerHeader>
                <MudNavMenu Rounded="true" Color="Color.Secondary" Class="pa-1 flex-column justify-center "  >
                    <MudNavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                        </svg> Inicio
                    </MudNavLink>

                    <AuthorizeView Roles="Cliente">
                        <Authorized Context="cliente">
                            <MudNavLink class="nav-link" Href="/Account/Manage">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-vcard-fill" viewBox="0 0 16 16">
                                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm9 1.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5M9 8a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4A.5.5 0 0 0 9 8m1 2.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5m-1 2C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 0 2 13h6.96q.04-.245.04-.5M7 6a2 2 0 1 0-4 0 2 2 0 0 0 4 0"/>
                                </svg>Mi perfil
                            </MudNavLink>
                            <MudNavGroup Title="Trueques" Icon="@Icons.Material.Filled.SwapHoriz" Expanded="false" Class="nav-link" IconColor="Color.Inherit">
                                <MudNavLink class="nav-link" Href="/ListadoPublicacionesDisponibles">
                                    🚢    Publicaciones
                                </MudNavLink>
                                <MudNavLink class="nav-link" Href="/mis_publicaciones">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                    </svg> Mis publicaciones
                                </MudNavLink>
                                <MudNavLink class="nav-link" Href="/embarcaciones">
                                    ⛵
                                    Mis embarcaciones
                                </MudNavLink>
                                <MudNavLink class="nav-link" Href="/ListarMisBienes/lista">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-briefcase" viewBox="0 0 16 16">
                                        <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5m1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0M1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5"/>
                                    </svg>
                                    Mis bienes
                                </MudNavLink>
                                <MudNavLink class="nav-link" Href="/ListadoOfertasHechas">
                                    <MudIcon Icon="@Icons.Material.Outlined.Handshake"></MudIcon>
                                    Mis ofertas hechas
                                </MudNavLink>
                            </MudNavGroup>
                            <MudNavGroup Title="Subalquileres" Icon="@Icons.Material.Outlined.EventNote" Expanded="false" Class="nav-link" IconColor="Color.Inherit">
                                <MudNavLink class="nav-link" Href="/ListadoSubalquileres">
                                    <MudIcon Icon="@Icons.Material.Outlined.CalendarMonth"></MudIcon>
                                    Subalquileres disponibles
                                </MudNavLink>
                                <MudNavLink class="nav-link" Href="/ListadoMisSubalquileres">
                                    <MudIcon Icon="@Icons.Material.Outlined.CalendarMonth"></MudIcon>
                                    Mis Subalquileres
                                </MudNavLink>
                                <MudNavLink class="nav-link" Href="/ListadoMisReservas">
                                    <MudIcon Icon="@Icons.Material.Outlined.EventAvailable"></MudIcon>
                                    Mis Reservas
                                </MudNavLink>
                                <MudNavLink class="nav-link" Href="/ListadoAmarras">
                                    <MudIcon Icon="@Icons.Material.Outlined.Houseboat"></MudIcon>
                                    Mis Amarras
                                </MudNavLink>
                            </MudNavGroup>
                            <MudNavLink class="nav-link" Href="/chat">
                                <MudIcon Icon="@Icons.Material.Outlined.ChatBubble"></MudIcon>
                                Chat
                            </MudNavLink>
                        </Authorized>
                    </AuthorizeView>

                    <AuthorizeView Roles="Empleado">
                        <Authorized Context="Empleado">
                            <MudNavLink class="nav-link" Href="/agregarApplicationUser">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                </svg>
                                Agregar cliente
                            </MudNavLink>
                            <MudNavLink class="nav-link" Href="/ListarApplicationUsers">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z"/>
                                </svg> Clientes
                            </MudNavLink>
                            <MudNavLink class="nav-link" Href="/ListadoTruequesAcordados">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ui-checks" viewBox="0 0 16 16">
                                    <path d="M7 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zM2 1a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm0 8a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2zm.854-3.646a.5.5 0 0 1-.708 0l-1-1a.5.5 0 1 1 .708-.708l.646.647 1.646-1.647a.5.5 0 1 1 .708.708zm0 8a.5.5 0 0 1-.708 0l-1-1a.5.5 0 0 1 .708-.708l.646.647 1.646-1.647a.5.5 0 0 1 .708.708zM7 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/>
                                </svg> Trueques acordados
                            </MudNavLink>
                            <MudNavLink class="nav-link" Href="/ListadoTruequesConfirmados">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ui-checks" viewBox="0 0 16 16">
                                    <path d="M7 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zM2 1a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm0 8a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2zm.854-3.646a.5.5 0 0 1-.708 0l-1-1a.5.5 0 1 1 .708-.708l.646.647 1.646-1.647a.5.5 0 1 1 .708.708zm0 8a.5.5 0 0 1-.708 0l-1-1a.5.5 0 0 1 .708-.708l.646.647 1.646-1.647a.5.5 0 0 1 .708.708zM7 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/>
                                </svg> Trueques confirmados
                            </MudNavLink>
                            <MudNavLink class="nav-link" Href="/ListadoReservasVigentes">
                                <MudIcon Icon="@Icons.Material.Outlined.CalendarMonth"></MudIcon>
                                Reservas Vigentes
                            </MudNavLink>
                        </Authorized>
                    </AuthorizeView>

                    <AuthorizeView Roles="Admin">
                        <Authorized Context="Admin">
                          
                            <MudNavLink class="nav-link" Href="/admin">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z"/>
                                </svg>Administrar empleados
                            </MudNavLink>
                          
                            <MudNavLink class="nav-link" Href="/roles">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-toggles" viewBox="0 0 16 16">
                                    <path d="M4.5 9a3.5 3.5 0 1 0 0 7h7a3.5 3.5 0 1 0 0-7zm7 6a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5m-7-14a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5m2.45 0A3.5 3.5 0 0 1 8 3.5 3.5 3.5 0 0 1 6.95 6h4.55a2.5 2.5 0 0 0 0-5zM4.5 0h7a3.5 3.5 0 1 1 0 7h-7a3.5 3.5 0 1 1 0-7"/>
                                </svg> Listar roles 
                            </MudNavLink>
                        </Authorized>
                    </AuthorizeView>

                    <form action="Account/Logout" method="post" style="display: flex; justify-content: space-evenly" >
                        <AntiforgeryToken/>
                        <MudButton Style="font-size: large;" ButtonType="ButtonType.Submit" Variant="Variant.Outlined" Color="Color.Secondary" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                                <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                            </svg> Cerrar sesión
                        </MudButton>
                    </form>
                </MudNavMenu>
            </MudDrawer>
        </MudContainer>
    </Authorized>
</AuthorizeView>
@code {
    bool _drawerOpen = true;

   
    private string? _currentUrl;

    protected override void OnInitialized()
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
        
        // var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        // var user = authState.User;
        //
        // // Check if the user is authenticated
        // if (user.Identity.IsAuthenticated)
        // {
        //     // Log the user claims
        //     Console.WriteLine("User Claims:");
        //     foreach (var claim in user.Claims)
        //     {
        //         Console.WriteLine($"{claim.Type}: {claim.Value}");
        //     }
        //
        //     Console.WriteLine($"esta el usuario en cliente? {user.IsInRole("Cliente")}");
        // }
        // else
        // {
        //     Console.WriteLine("User is not authenticated.");
        // }
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
    

}